.container {
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.sampleCell {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  border: 1px solid black;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  width: 30px;
  height: 30px;
  border-radius: 0;
}

.btnBorder {
  color: #fff;
  background-color: #c0c0c0;
  border-top: 4px solid #fff;
  border-right: 4px solid #7b7b7b;
  border-bottom: 4px solid #7b7b7b;
  border-left: 4px solid #fff;
}

.btnBorderReverse {
  color: #fff;
  background-color: #c0c0c0;
  border-top: 4px solid #7b7b7b;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
  border-left: 4px solid #7b7b7b;
}

.flag {
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url('~/src/assets/images/icons.png');
  background-repeat: no-repeat;
  background-size: 308px 22px;
}

.face {
  width: 35px;
  height: 35px;
  margin: 0 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-position: 0 0;
  background-size: auto;
}

.face:active {
  border-top: 4px solid #7b7b7b;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
  border-left: 4px solid #7b7b7b;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.options {
  width: 40px;
}

.chageBtn {
  width: 210px;
  margin-top: 5px;
}

.numberSelect {
  position: relative;
  top: 2px;
  display: flex;
  flex-direction: row;
}

.bigboard {
  align-items: center;
  background-color: #c0c0c0;
  border-top: 5px solid #fff;
  border-right: 5px solid #7b7b7b;
  border-bottom: 5px solid #7b7b7b;
  border-left: 5px solid #fff;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 53px;
  background-color: #c0c0c0;
  border-top: 5px solid #7b7b7b;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #7b7b7b;
}

@font-face {
  font-family: MyFont;
  src: url('~/src/assets/Let_s_go_Digital_Regular.ttf') format('truetype');
}

.num {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 40px;
  font-family: MyFont, sans-serif;
  font-size: 270%;
  font-weight: 800;
  color: red;
  text-align: center;
  background-color: black;
  border-top: 2px solid #7b7b7b;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #7b7b7b;
}
